NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBoYOG5xg4HZg4J5RT5uAa3-ZeIQ7VakIg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=guild-b8bf9.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=guild-b8bf9
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=guild-b8bf9.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=845227865420
NEXT_PUBLIC_FIREBASE_APP_ID=1:845227865420:web:1c08b8df4df636eb660be9